<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <div class="root-container posts-comments-container">
      <div class="back-link-container">
        <%= link_to "Home > ", authenticated_root_path, class: "navigational-link" %>
        <%= link_to "Back", :back, class: "back-link" %>
      </div>
      <%= render 'shared/user_info', user: @user %>
      <div class="posts-comments">
        <% @posts.each_with_index do |post, post_no| %>
          <div class="post-comments">
              <%= render 'shared/post_info', post: post, post_no: post_no, user: @user %>
            <div class="comments">
              <% post.recent_comments.each do |comment| %>
                <%= render 'shared/comment', comment: comment, user: @user, post: post %>
              <% end %>
              <button class="btn add-comment-btn"><%= link_to 'Add comment', new_user_post_comment_path(@user, post) %></button>
            </div>
          </div>
        <% end %>
        <button class="btn">Pagination</button>
      </div>
    </div>
  </body>
</html>
